.surround{
    width: 100%;
    padding-right:7px;
}

.left{
    width:45%;
    float:left;
}

.right{
    width:45%;
    float:right;
}

.mobileLink{
    font-size: 18px;
    color: #A30008;
    
}

a.mobileLink:hover,
a.mobileLink:focus {
  color: #700005;
  text-decoration:underline;
}

.accText{
    color:#fff;
    float:left;
    /*height:40px;*/
    padding-right: 320px;
margin-left: -230px;    
    text-align:right;
    font-size: 22px;
    line-height:1.5;
}
.closer{
    position:relative;
    z-index:2000;
    margin-top:-54px;
    color: #A30008;
    float:right;
    padding-right:7px;
    cursor: pointer;
}

.twitterHead{
    width:100%;
    height:50px;
    position:relative;
    margin-bottom:20px;
    background-color:#0A0675;
    overflow:hidden;
    padding-top:15px;

}
@media (max-width: 767px){
    .twitterHead{
    width:100%;
    height:50px;
    position:relative;
    margin-bottom:20px;
    background-color:#0A0675;
    overflow:hidden;
    padding-top:15px;
    border-top: solid;
    border-top-color: #fff;
    border-top-width: 20px;

}
}
/*@media (max-width: 700px){
    .twitterHead{
    width:100%;
    height:50px;
    position:relative;
    margin-bottom:20px;
    background-color:#0A0675;
    overflow:hidden;
    padding-top:15px;
    margin-top:630px;

}
}

@media (max-width: 650px){
    .twitterHead{
    width:100%;
    height:50px;
    position:relative;
    margin-bottom:20px;
    background-color:#0A0675;
    overflow:hidden;
    padding-top:15px;
    margin-top:585px;

}
}

@media (max-width: 620px){
    .twitterHead{
    width:100%;
    height:50px;
    position:relative;
    margin-bottom:20px;
    background-color:#0A0675;
    overflow:hidden;
    padding-top:15px;
    margin-top:540px;

}
}
*/
.headText{
    font-size: 22px;
    color:#fff;
    padding-left:15px;
}

.iframe{
    position:absolute;
    margin-top: 15px;
    width:100%;
    border-color: #CFCFD1;
    border-style:solid;
    border-width:1px;
}

.border{
    border-color: #CFCFD1;
    border-style:solid;
    border-width:1px;
}

.textPad{
    padding: 0px 10px 5px 10px;
    margin-top:-5px;
}

#gray{
    width:10%;
    height:350px;
    background-color: #C5C5C7;
}

#height{
    height:855px;
}


#border{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.red{
    background-color: #A30008;
}
.martaRed{
    color: #C20404;
}

.martaGold{
    color: #F5B802;
}

.white{
    background-color:#fff;
    height:350px;
    float:right;
    width:85%;
    margin-top:-40px;
    border-color: #CFCFD1;
    border-style:solid;
    border-width:1px;
    font-size: 13px;
    color: #000;
}

.inset{
    height:360px;
    float:right;
    width:91%;
    margin-top:-41px;
    margin-right:-10px;
    font-size: 13px;
    color: #000;
}

.sliderText{
    padding: 10px;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
    
.shadow{
    -webkit-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, .15);
    box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, .15);

}

.margin-bottom{
    margin-bottom:20px;
}

.place{
    font-size: 16px;
    font-weight:400;
}

.header{
    font-size: 22px;
}

.name{
    font-size: 23px;
    color:#fff;
    padding-left:2%;
}

.headBox{
    width:100%;
    height:58px;
    padding-top:19px;
}

.headBoxRightRace{
    width:100%;
    height:58px;
    padding-top:19px;
    background-color: #A30008;
    text-align: center;
}

.headBoxRightRace:hover{
    background-color: #c5000a;
    /*background-color: #C4C0C2;*/
    color:#fff;
}

.headBoxRight{
    width:100%;
    height:58px;
    padding-top:19px;
    background-color: #A30008;
    text-align: center;
}

.headBoxRight:hover{
    background-color: #c5000a;
    /*background-color: #C4C0C2;*/
    color:#fff;
}

.headBoxRight2{
    width:100%;
    height:58px;
    background-image: url('images/martalogo.jpg');
    text-align: center;
    background-position: center;
}

.blue{
    background-color:#0A0675;
}

.results{
    font-size: 26px;
    color:#fff;
    /*-webkit-text-fill-color: white;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    padding-left:30px;*/
}

.flag{
    background-image: url(../img/checkered2.png);
    background-repeat: repeat;
}

a.headBoxRight:hover,
a.headBoxRight:focus {
  color: #000;
}

.spacerTop{
   display:none;
}

@media (max-width: 767px){
.spacerTop{
   width:100%;
   /*height:20px;
   backgground-color: #fff;
   display:block;*/
   margin-top:20px;
}
}

.out{
    position:absolute;
    z-index: 1000;
    margin-top:280px;
    background-color:#fff;
    padding: 0px 10px 0px 10px;font-size: 14px;
    line-height: 16px;
    min-width: 256px;
}

.tips{
    display: inline;
    padding-left: 20px;
    font-size: 30px;
    color: #000;
    
}

